:root {
    --bg-color: #000;
    --snd-bg-color: #111;
    --text-color: #fff;
    --main-color: #45ffca;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav {
    background-color: var(--snd-bg-color);
    padding: 15px;
    text-align: center;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

nav a:hover {
    color: var(--main-color);
}

.dashboard-container {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    margin: 50px auto;
    width: 50%;
    box-shadow: 0 0 15px rgba(69, 255, 202, 0.5);
}

h2 {
    color: var(--main-color);
}
